# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pcd-venv/
env/
venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/static/
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
front-end/node_modules/

# Environment variables
.env
